@page "/error"
@using Netpack.GatewayDashboard.Utils
@layout EmptyLayout
@attribute [AllowAnonymous]
@inject IStringLocalizer<GatewayDashboard.Resources.Routes> Loc

<PageTitle>@Loc[nameof(GatewayDashboard.Resources.Routes.ErrorHandlerPageTitle)]</PageTitle>

<div class="error-backdrop">
    <div class="error-container">
        <div class="error-logo">
            <AspireLogo Height="128" Width="128" />
        </div>
        <div class="error-entry-container">
            <h1>@Loc[nameof(GatewayDashboard.Resources.Routes.ErrorHandlerPageTitle)]</h1>
            <h5>@Loc[nameof(GatewayDashboard.Resources.Routes.ErrorHandlerPageSubtitle)]</h5>

            @if (ShowRequestId)
            {
                <p>
                    <strong>@Loc[nameof(GatewayDashboard.Resources.Routes.ErrorHandlerPageRequestId)]</strong> <code>@RequestId</code>
                </p>
            }
        </div>
    </div>
    <div class="version-info">
        @VersionHelpers.DashboardDisplayVersion
    </div>
</div>
